.imagen{
    text-align: center;
}

h1{
    background-color: #C4C4C4;
    color: #005677;
    font-family: Times New Roman;
    text-align: center;
}

h2{
    background-color: #C4C4C4;
    color: #005677;
    font-family: Times New Roman;
}

article{
    height: 60px;
}

#datos{
    font-style: italic;
    list-style: none;
}

li{
    list-style: none;
}

footer{
    background-color: #005677;
}
footer p{
    color: white;
    text-align: center;
}